<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>classes</title>
    <!-- css surporting -->
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/style.css">
    <link rel="stylesheet" href="../static/files/css/style1d.css">
    <link rel="stylesheet" href="../static/files/css/">
    <link rel="stylesheet" href="../static/files/css/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/files/css/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <!-- js supporting -->
    <script src="../static/files/js/bootstrap.bundle.min.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>
    <script src="../static/files/css/OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>
</head>
<body style="background-color: black;">
    <div class="container_fluid">
        {% include 'navbar.html' %}
        <br>
        <!-- carousel section start -->
        <section class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-pause="false">
                         <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../static/files/hero-bg.jpg.webp" class="d-block w-100" alt="Slide 1" height="400">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>CLASSES</h5>
                                    <p style="color: white;"><b>Various Classes You Can Take Part In</b></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../static/files/hero2.webp" class="d-block w-100" alt="Slide 2" height="400">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>CLASSES</h5>
                                    <p style="color: white;"><b>Various Classes You Can Take Part In</b></p>
                                </div>
                            </div>
                        </div>
                        <!-- Controls -->
                         <!-- Carousel controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                </div>
            </div>
        </section>
        <!-- carousel section start -->
    </div>
    <hr>
    <br><br>
    
    <!-- section 1 start -->
    <section class="row text-center">
        <!-- col 1 div -->
        <div class="col-md-3 card shadow p-5" style="background-color: rgb(247, 245, 245);">
            <img src="../static/files/class1.jpg" alt="">
            <div class="detail-box text-center" >
                <br>
                <p class="text-warning" style="color: rgb(14, 13, 13);"><b><center>WEIGHTLIFTING</center></b></p>
            </div>
        </div>
        <!-- col 2 div -->
        <div class="col-md-3 card shadow p-5" style="background-color: rgb(250, 249, 249);">
            <img src="../static/files/class2.jpg" alt="">
            <div class="detail-box">
                <br>
                <p class="text-warning" style="color: rgb(14, 13, 13);"><b><center>RUNNING</center></b></p>
            </div>
        </div>
        <!-- col 3 div -->
        <div class="col-md-3 card shadow p-5" style="background-color: rgb(252, 249, 249);">
            <img src="../static/files/class3.jpg" alt="" style="height: 70%;">
            <div class="detail-box">
                <br>
                <p class="text-warning" style="color: rgb(10, 10, 10);"><b><center>DANCE</center></b></p>
            </div>
        </div>
        <!-- col 4 div  -->
        <div class="col-md-3 card shadow p-5" style="background-color: rgb(243, 239, 239);">
            <img src="../static/files/class4.jpg" alt="" height="70%">
            <div class="detail-box">
                <br>
                <p class="text-warning" style="color: rgb(12, 12, 12);"><b><center>GYMNASTICS</center></b></p>
            </div>
        </div>
     </section>
    <!-- section 1 end -->
    <hr>
    <!-- section 2 start -->
    <section class="row text-center">
        <!-- col 1 div -->
        <div class="col-md-3 card shadow p-5" style="background-color: rgb(245, 242, 242);">
            <img src="../static/files/class5.jpg" alt="" style="height: 50%;">
            <div class="detail-box">
                <br>
                <p class="text-warning" style="color: rgb(8, 8, 8);"><b><center>GYM TRAINING</center></b></p>
            </div>
        </div>
        <!-- col 2 div -->
        <div class="col-md-3 card shadow p-5" style="background-color: rgb(255, 253, 253);">
            <img src="../static/files/class6.jpg" alt="">
            <div class="detail-box">
                <br>
                <b class="text-dark text-center" style="color: black;">INDOOR EXERCISES</b>
            </div>
        </div>
        <!-- col 3 div -->
        <div class="col-md-3 card shadow p-5" style="background-color: rgb(247, 244, 244);">
            <img src="../static/files/class7.jpg" alt="" style="height: 50%;">
            <div class="detail-box">
                <br>
                <p class="text-warning" style="color: rgb(10, 10, 10);"><b><center>CARDIO</center></b></p>
            </div>
        </div>
        <!-- col 4 div  -->
        <div class="col-md-3 card shadow p-5" style="background-color: rgb(253, 252, 252);">
            <img src="../static/files/class8.jpg" alt="" style="height: 50%;">
            <div class="detail-box">
                <br>
                <b class="text-dark text-center" style="color: black;">Running</b>
            </div>
        </div>
     </section>
    <!-- section 2 end -->
    <hr>
    <br><br>
    <!-- section 3 start -->
    <section class="classes-timetable spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 style="color: white;">CLASS TIMETABLE</h2>
                    </div>
                    <div class="nav-controls">
                        <ul>
                            <li class="active" data-tsfilter="all">All Class</li>
                            <li data-tsfilter="gym" style="color: #f15d44;">Gym</li>
                            <li data-tsfilter="crossfit" style="color: #f15d44;">Crossfit</li>
                            <li data-tsfilter="cardio" style="color: #f15d44;">Cardio</li>
                            <li data-tsfilter="body" style="color: #f15d44;">Body</li>
                            <li data-tsfilter="yoga" style="color: #f15d44;">Yoga</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-table">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                                    <th>Sunday</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="workout-time">10.00</td>
                                    <td class="hover-bg ts-item" data-tsmeta="gym">
                                        <h6>Gym</h6>
                                        <span>10.00-11.00</span>
                                        <div class="trainer-name">Manucho Chills</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="yoga">
                                        <h6>Yoga</h6>
                                        <span>10.00-12.00</span>
                                        <div class="trainer-name">Sasha Banks</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="body">
                                        <h6>Body</h6>
                                        <span>10.00-11.00</span>
                                        <div class="trainer-name">Partrick Cortez</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>10.00-11.00</span>
                                        <div class="trainer-name">Fay Empress</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>10.00-11.00</span>
                                        <div class="trainer-name">Tim Knight</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>10.00-11.00</span>
                                        <div class="trainer-name">Romeo Lavy</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>10.00-11.00</span>
                                        <div class="trainer-name">Partrick Cortez</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="workout-time">14.00</td>
                                    <td class="hover-bg ts-item" data-tsmeta="running">
                                        <h6>Running</h6>
                                        <span>14.00-16.00</span>
                                        <div class="trainer-name">Sasha Banks</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="box">
                                        <h6>Box</h6>
                                        <span>14.00-15.00</span>
                                        <div class="trainer-name">Fay Empress</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="body">
                                        <h6>Body</h6>
                                        <span>14.00-16.00</span>
                                        <div class="trainer-name">Tim Knight</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>14.00-16.00</span>
                                        <div class="trainer-name">Romeo Lavy</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>14.00-16.00</span>
                                        <div class="trainer-name">Partrick Cortez</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>14.00-16.00</span>
                                        <div class="trainer-name">Manucho Chills</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>14.00-16.00</span>
                                        <div class="trainer-name">Sasha Banks</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="workout-time">16.00</td>
                                    <td class="hover-bg ts-item" data-tsmeta="gym">
                                        <h6>Gym</h6>
                                        <span>16.00-18.00</span>
                                        <div class="trainer-name">Fay Empress</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="yoga">
                                        <h6>Yoga</h6>
                                        <span>16.00-19.00</span>
                                        <div class="trainer-name">Tim Knight</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="body">
                                        <h6>Body</h6>
                                        <span>16.00-19.00</span>
                                        <div class="trainer-name">Romeo Lavy</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>16.00-20.00</span>
                                        <div class="trainer-name">Manucho Chills</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>16.00-20.00</span>
                                        <div class="trainer-name">Partrick Cortez</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>16.00-20.00</span>
                                        <div class="trainer-name">Sasha Banks</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>16.00-20.00</span>
                                        <div class="trainer-name">Fay Empress</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="workout-time">18.00</td>
                                    <td class="hover-bg ts-item" data-tsmeta="gym">
                                        <h6>Gym</h6>
                                        <span>18.00-22.00</span>
                                        <div class="trainer-name">Manucho Chills</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="Crossfit">
                                        <h6>Crossfit</h6>
                                        <span>18.00-21.00</span>
                                        <div class="trainer-name">Romeo Lavy</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="body">
                                        <h6>Body</h6>
                                        <span>18.00-22.00</span>
                                        <div class="trainer-name">Partrick Cortez</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>18.00-22.00</span>
                                        <div class="trainer-name">Sasha Banks</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>18.00-22.00</span>
                                        <div class="trainer-name">Fay Empress</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>18.00-22.00</span>
                                        <div class="trainer-name">Tim Knight</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>18.00-22.00</span>
                                        <div class="trainer-name">Romeo Lavy</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="workout-time">20.00</td>
                                    <td class="hover-bg ts-item" data-tsmeta="gym">
                                        <h6>Gym</h6>
                                        <span>20.00-21.00</span>
                                        <div class="trainer-name">Manucho Chills</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="yoga">
                                        <h6>Yoga</h6>
                                        <span>20.00-22.00</span>
                                        <div class="trainer-name">Partrick Cortez</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="body">
                                        <h6>Body</h6>
                                        <span>20.00-22.00</span>
                                        <div class="trainer-name">Sasha Banks</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>20.00-21.00</span>
                                        <div class="trainer-name">Fay Empress</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>20.00-21.00</span>
                                        <div class="trainer-name">Tim Knight</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>20.00-21.00</span>
                                        <div class="trainer-name">Romeo Lavy</div>
                                    </td>
                                    <td class="hover-bg ts-item" data-tsmeta="cardio">
                                        <h6>Cardio</h6>
                                        <span>20.00-21.00</span>
                                        <div class="trainer-name">Manucho Chills</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-banner-item set-bg" data-setbg="../static/files/footer-banner-1.jpg.webp" style="background-image: url(../static/files/footer-banner-1.jpg.webp);">
                        <span>New member</span>
                        <h2>7 days for free</h2>
                        <p>Complete the Training sessions with us,surely you will be happy</p>
                        <a href="/signup" class="primary-btn">
                            Get Started
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer-banner-item set-bg" data-setbg="../static/files/footer-banner-2.jpg.webp" style="background-image: url(../static/files/footer-banner-2.jpg.webp);">
                        <span>Contact Us</span>
                        <h2>+254 723 323 971</h2>
                        <p>Incase of more info just contact us, let's all promote healthy living</p>
                        <a href="/signup" class="primary-btn">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Phone</span>
                        <p>+254 723 323 971 - +254 786 315 008</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Address</span>
                        <p>47 Nairobi, 105 Bazzar Plaza Suite 11</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Email</span>
                        <p>Contact kipkoechtimothy721@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="subscribe-option set-bg" data-setbg="../static/files/footer-signup.jpg.webp" style="background-image: url(../static/files/footer-signup.jpg.webp);">
                <div class="so-text">
                    <h4>Subscribe to our mailing list</h4>
                    <p>Sign up for healthy living through our fitness programs</p>
                </div>
                <form action="#" class="subscribe-form">
                    <input type="text" placeholder="Email">
                    <button type="submit">
                        <i class="fa-sharp fa-solid fa-paper-plane"></i>
                    </button>
                </form>
            </div>
            <section class="row">
                <div class="copyright-text">
                    <ul>
                        <li>
                            <a href="#">Terms&Use</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                    <p></p>
                    <div class="footer-social" style="right: 200%;">
                        <a href="facebook.com">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="twitter.com">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="instagram.com">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            </section>
</body>
</html>