<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css surporting -->
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <!-- js supporting -->
    
    <script src="../static/files/js/bootstrap.bundle.min.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>
    
</head>
<body>
    
    <div id="wrapper">
        <div id="slider-area" class="owl-carousel">
            <div style="background-image: url(../static/files/class1.jpg);"></div>
            <div style="background-image: url(../static/files/class2.jpg);"></div>
            <div style="background-image: url(../static/files/class3.jpg);"></div>
        </div>

        <div id="slider-text">
            <h2>Coach <span>Peter Cortez</span></h2>
        </div>
    </div>
    
    
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $('#slider-area').owlCarousel({
            loop:true,
            autoplay:true,
            margin:10,
            nav:false,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        })
    </script>
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>UNLIMITED CLASSES</h2>
                    </div>
                </div>
            </div>
            <div class="row classes-slider owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-920px,0px,0px); transition: all 1.2s ease 0s; width: 230px;">
                        <div class="owl-item-cloned" style="width: 230px;">
                            <div class="col-lg-4">
                                <div class="single-class-item set-bg" data-setbg="../static/files/classes1.jpg" style="background-image: url(../static/files/class1.jpg);">
                                    <div class="si-text">
                                        <h4>Running</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Scott Mcgall"
                                        </span>
                                    </div>
                                </div>
                                <div class="single-item set-bg" data-setbg="../static/files/class2.jpg" style="background-image: url(../static/files/class2.jpg);">
                                    <div class="si-text">
                                        <h4>Dance</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Tabitha Tasha"
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 230px;">
                            <div class="col-lg-4">
                                <div class="single-class-item set-bg" data-setbg="../static/files/class3.jpg" style="background-image: url(../static/files/class3.jpg);">
                                    <div class="si-text">
                                        <h4>Personal Training</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Dominic Hale"
                                        </span>
                                    </div>
                                </div>
                                <div class="single-class-item set-bg" data-setbg="../static/files/class4.jpg" style="background-image: url(../static/files/class4.jpg);">
                                    <div class="si-text">
                                        <h4>Weight Loss</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Ryan Reynolds"
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 230px;">
                            <div class="col-lg-4">
                                <div class="single-class-item set-bg" data-setbg="../static/files/class3.jpg" style="background-image: url(../static/files/class3.jpg);">
                                    <div class="si-text">
                                        <h4>Personal Training</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Dominic Hale"
                                        </span>
                                    </div>
                                </div>
                                <div class="single-class-item set-bg" data-setbg="../static/files/class4.jpg" style="background-image: url(../static/files/class4.jpg);">
                                    <div class="si-text">
                                        <h4>Weight Loss</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Ryan Reynolds"
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 230px;">
                            <div class="col-lg-4">
                                <div class="single-class-item set-bg" data-setbg="../static/files/class5.jpg" style="background-image: url(../static/files/class5.jpg);">
                                    <div class="si-text">
                                        <h4>Yoga</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Timo Campbell"
                                        </span>
                                    </div>
                                </div>
                                <div class="single-class-item set-bg" data-setbg="../static/files/class6.jpg" style="background-image: url(../static/files/class6.jpg);">
                                    <div class="si-text">
                                        <h4>Karate</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Jesse Knight"
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item-cloned" style="width: 230px;">
                            <div class="col-lg-4">
                                <div class="single-class-item set-bg" data-setbg="../static/files/class1.jpg" style="background-image: url(../static/files/class1.jpg);">
                                    <div class="si-text">
                                        <h4>Running</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Scott Mcgall"
                                        </span>
                                    </div>
                                </div>
                                <div class="single-item set-bg" data-setbg="../static/files/class2.jpg" style="background-image: url(../static/files/class2.jpg);">
                                    <div class="si-text">
                                        <h4>Dance</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Tabitha Tasha"
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 230px;">
                            <div class="col-lg-4">
                                <div class="single-class-item set-bg" data-setbg="../static/files/class3.jpg" style="background-image: url(../static/files/class3.jpg);">
                                    <div class="si-text">
                                        <h4>Personal Training</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Dominic Hale"
                                        </span>
                                    </div>
                                </div>
                                <div class="single-class-item set-bg" data-setbg="../static/files/class4.jpg" style="background-image: url(../static/files/class4.jpg);">
                                    <div class="si-text">
                                        <h4>Weight Loss</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Ryan Reynolds"
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 230px;">
                            <div class="col-lg-4">
                                <div class="single-class-item set-bg" data-setbg="../static/files/class3.jpg" style="background-image: url(../static/files/class3.jpg);">
                                    <div class="si-text">
                                        <h4>Personal Training</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Dominic Hale"
                                        </span>
                                    </div>
                                </div>
                                <div class="single-class-item set-bg" data-setbg="../static/files/class4.jpg" style="background-image: url(../static/files/class4.jpg);">
                                    <div class="si-text">
                                        <h4>Weight Loss</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Ryan Reynolds"
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 230px;">
                            <div class="col-lg-4">
                                <div class="single-class-item set-bg" data-setbg="../static/files/class5.jpg" style="background-image: url(../static/files/class5.jpg);">
                                    <div class="si-text">
                                        <h4>Yoga</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Timo Campbell"
                                        </span>
                                    </div>
                                </div>
                                <div class="single-class-item set-bg" data-setbg="../static/files/class6.jpg" style="background-image: url(../static/files/class6.jpg);">
                                    <div class="si-text">
                                        <h4>Karate</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Jesse Knight"
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 230px;">
                            <div class="col-lg-4">
                                <div class="single-class-item set-bg" data-setbg="../static/files/class3.jpg" style="background-image: url(../static/files/class3.jpg);">
                                    <div class="si-text">
                                        <h4>Personal Training</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Dominic Hale"
                                        </span>
                                    </div>
                                </div>
                                <div class="single-class-item set-bg" data-setbg="../static/files/class4.jpg" style="background-image: url(../static/files/class4.jpg);">
                                    <div class="si-text">
                                        <h4>Weight Loss</h4>
                                        <span>
                                            <i class="fa fa-user">
                                                ::before
                                            </i>
                                            "Ryan Reynolds"
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        ::after
                    </div>
                    <div class="owl-nav disabled">
                        <button type="button" role="presentation" class="owl-prev">
                            <span aria-label="Previous"></span>
                        </button>
                        <button type="button" role="presentation" class="owl-next">
                            <span aria-label="Next"></span>
                        </button>
                    </div>
                    <div class="owl-dots">
                        <button role="button" class="owl-dot">
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>